<rz-content #content1 container="main">
  <div [ngStyle]="{'marginTop': '-7px', 'paddingBottom': '0', 'paddingLeft': '5px', 'paddingRight': '3px', 'paddingTop': '0'}" class="row">
    <div class="d-flex align-items-center justify-content-start  col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <rz-heading #heading8 size="H1" [style]="{'color': '#5d717b', 'display': 'inline-block'}" text="Benutzer">
      </rz-heading>
      <rz-heading #heading9 size="H3" [style]="{'color': '#6d787d', 'display': 'inline-block', 'marginTop': '9px', 'paddingLeft': '10px', 'paddingRight': '10px'}" text="|">
      </rz-heading>
      <rz-heading #heading16 size="H3" [style]="{'color': '#6d787d', 'display': 'inline', 'marginTop': '9px'}" text="Module" >
      </rz-heading>
    </div>
  </div>
  <rz-tabs #tabs0 [style]="{'float': 'none', 'height': '826px'}">
    <rz-tabs-item [selected]="true" text="Daten">
      <rz-grid #grid0 addText="Neuer Benutzer" [allowAdd]="true" [allowDelete]="true" [allowFiltering]="true" [allowPaging]="true" [allowSorting]="true" [alwaysShowPager]="true" applyFilterText="Apply" clearFilterText="Clear" [confirmDelete]="true" confirmDeleteCancelText="Abbruch" confirmDeleteOkText="Löschen" confirmDeleteText="Bist du sicher, dass dieser Benutzer gelöscht werden soll?" confirmDeleteTitle="Löschen Benutzer" containsText="Contains" [data]="getUsersResult" emptyText="No records to display." endsWithText="Ends with" equalsText="Equals" greaterThanOrEqualsText="Greater than or equals" greaterThanText="Greater than" lessThanOrEqualsText="Less than or equals" lessThanText="Less than" notEqualsText="Not equals" startsWithText="Starts with" (add)="grid0Add($event)" (delete)="grid0Delete($event)" (rowSelect)="grid0RowSelect($event)">
        <rz-grid-column property="Id" title="Id" type="string">
        </rz-grid-column>
        <rz-grid-column property="UserName" title="User Name">
        </rz-grid-column>
        <rz-grid-column property="Email" title="Email">
        </rz-grid-column>
      </rz-grid>
    </rz-tabs-item>
    <rz-tabs-item text="Rollen">
    </rz-tabs-item>
    <rz-tabs-item [selected]="false" text="Anmeldungen">
      <rz-grid #grid1 [allowAdd]="true" [allowDelete]="true" [allowFiltering]="true" [allowPaging]="true" [allowSorting]="true" [count]="getVwBenutzerAnusCount" [data]="getVwBenutzerAnusResult" [pageSize]="10" (loadData)="grid1LoadData($event)">
        <rz-grid-column property="Id" title="Id" type="string">
        </rz-grid-column>
        <rz-grid-column property="UserName" title="User Name" type="string">
        </rz-grid-column>
        <rz-grid-column property="Email" title="Email" type="string">
        </rz-grid-column>
        <rz-grid-column>
        </rz-grid-column>
        <rz-grid-column property="Id" title="Id" type="string">
        </rz-grid-column>
        <rz-grid-column property="AccessFailedCount" title="Access Failed Count" type="integer">
        </rz-grid-column>
        <rz-grid-column property="ConcurrencyStamp" title="Concurrency Stamp" type="string">
        </rz-grid-column>
        <rz-grid-column property="Email" title="Email" type="string">
        </rz-grid-column>
        <rz-grid-column property="EmailConfirmed" title="Email Confirmed" type="boolean">
        </rz-grid-column>
        <rz-grid-column property="LockoutEnabled" title="Lockout Enabled" type="boolean">
        </rz-grid-column>
        <rz-grid-column format="date-time" formatString="medium" property="LockoutEnd" title="Lockout End" type="string">
        </rz-grid-column>
        <rz-grid-column property="NormalizedEmail" title="Normalized Email" type="string">
        </rz-grid-column>
        <rz-grid-column property="NormalizedUserName" title="Normalized User Name" type="string">
        </rz-grid-column>
        <rz-grid-column property="PasswordHash" title="Password Hash" type="string">
        </rz-grid-column>
        <rz-grid-column property="PhoneNumber" title="Phone Number" type="string">
        </rz-grid-column>
        <rz-grid-column property="PhoneNumberConfirmed" title="Phone Number Confirmed" type="boolean">
        </rz-grid-column>
        <rz-grid-column property="SecurityStamp" title="Security Stamp" type="string">
        </rz-grid-column>
        <rz-grid-column property="TwoFactorEnabled" title="Two Factor Enabled" type="boolean">
        </rz-grid-column>
        <rz-grid-column property="UserName" title="User Name" type="string">
        </rz-grid-column>
      </rz-grid>
    </rz-tabs-item>
  </rz-tabs>
</rz-content>
