<rz-content #content1 container="main">
  <div class="row">
    <div class="col-md-12">
      <rz-template-form #form0 (submit)="form0Submit($event)">
        <div [ngStyle]="{'marginBottom': '1rem'}" class="row">
          <div class="col-md-3">
            <rz-label #userNameLabel component="UserName" [style]="{'textAlign': 'right', 'width': '100%'}" text="Benutzername">
            </rz-label>
          </div>
          <div class="col-md-9">
            <rz-textbox #userName [disabled]="false" [style]="{'width': '100%'}" [(ngModel)]="benutzer && benutzer.UserName" name="UserName">
            </rz-textbox>
          </div>
        </div>
        <div [ngStyle]="{'marginBottom': '1rem'}" class="row">
          <div class="col-md-3" [ngStyle]="{'textAlign': 'right'}">
            <rz-label #emailLabel component="Email" [style]="{'width': '100%'}" text="E-Mail">
            </rz-label>
          </div>
          <div class="col-md-9">
            <rz-textbox #email [style]="{'width': '100%'}" [(ngModel)]="benutzer && benutzer.Email" name="Email">
            </rz-textbox>
          </div>
        </div>
        <div [ngStyle]="{'textAlign': 'right'}" class="row">
          <div class="col offset-sm-3">
            <rz-button #button1 buttonStyle="primary" buttonType="submit" icon="save" text="Speichern">
            </rz-button>
            <rz-button #button2 buttonStyle="light" [style]="{'marginLeft': '1rem'}" text="Abbruch" (click)="button2Click($event)">
            </rz-button>
          </div>
        </div>
      </rz-template-form>
    </div>
  </div>
</rz-content>
