<rz-content #content1 container="main">
  <div [ngStyle]="{'marginTop': '-7px', 'paddingBottom': '0', 'paddingLeft': '5px', 'paddingRight': '3px', 'paddingTop': '0'}" class="row">
    <div class="d-flex align-items-center justify-content-start  col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <rz-heading #heading8 size="H1" [style]="{'color': '#5d717b', 'display': 'inline-block'}" text="Dokumente">
      </rz-heading>
      <rz-heading #heading9 size="H3" [style]="{'color': '#6d787d', 'display': 'inline-block', 'marginTop': '9px', 'paddingLeft': '10px', 'paddingRight': '10px'}" text="|">
      </rz-heading>
      <rz-heading #heading16 size="H3" [style]="{'color': '#6d787d', 'display': 'inline', 'marginTop': '9px'}" text="Module" >
      </rz-heading>
    </div>
  </div>
  <rz-tabs #tabs0 [style]="{'float': 'none', 'height': '826px'}">
    <rz-tabs-item [selected]="true" text="Daten">
      <rz-heading #heading0 size="H3" [style]="{'color': '#479cc8'}" text="Hier ist etwas im Entstehen...">
      </rz-heading>
    </rz-tabs-item>
    <rz-tabs-item [selected]="false" text="Kategorien">
    </rz-tabs-item>
  </rz-tabs>
</rz-content>
